.tableContainer {
  background-color: #2d2d32;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 400px; /* Set the max height for the table container */
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: #ffffff;
  font-size: 12px;
}

th,
td {
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
  white-space: nowrap; /* Prevent text from wrapping */
}

th {
  background-color: #50505a;
  border-bottom: 2px solid #3a3a3a;
}

tr:nth-child(even) {
  background-color: #3a3a3a;
}

tr:nth-child(odd) {
  background-color: #2d2d32;
}

td {
  border-bottom: 1px solid #3a3a3a;
}
